<div>
    <h1>Registrese</h1>
    <forms (submit)="registry()"> 
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" placeholder="Nombre">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</div>