<div class="container">
    <h1>Registro</h1>
    <form> 
        <div class="content">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" >
        </div>

        <div class="content content-1">
            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password">
        </div>
        <button (click)="Register()">Registrarse</button>
    </form>
</div>